@import helper._

@(hostname: String)(implicit request: RequestHeader)

@main("File Upload") {
    @form(action = CSRF(routes.HomeController.upload()), 'enctype -> "multipart/form-data") {
        <input type="file" name="file">
        <p>
            <label for="token">token:</label>
            <input type="text" name="token" id="token">
        </p>
        <label>
            <input type="checkbox" name="private" id="private"/>
        </label>private<br />
        <p>
            <input type="submit" value="Upload">
        </p>
    }
    <p>Hint: upload files with curl:</p>
    <pre>curl -F "file=@@&lt;file&gt;" -F "token=&lt;token&gt;" "https://@hostname"</pre>
}
